#inheaderimg{
	background-image:url(../images/legacygroup_header_new.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:218px;
	width:1002px;
}

.inheaderimg{
	background-image:url(../images/legacygroup_header.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:166px;
	width:1002px;
}

.mainbg{
	background-image:url(../images/legacygroup_main_bg.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#FFF;
	padding-top:15px;
}
.bannerimg{
	background-image:url(../images/legacygroup_banner.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	height:339px;
	width:551px;
}