.error {
	border:1px solid #FF0000;
}
.changeclass {
	background-color:#FF0000;
}
img {
	border: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.show_hide1 {
	margin: 3px 0 0 0;
	text-align: center;
	overflow: hidden;
}
.show_hide2 {
	margin: 3px 0 0 0;
	text-align: center;
	overflow: hidden;
}
.slidingDiv {
	width: 170px;
	position: absolute;
	margin: 30px 0 0 -382px;
	left: 50%;
	display: inline;
}
.slidingDiv1 {
	width: 170px;
	position: absolute;
	margin: 5px 0 0 -207px;
	left: 23%;
	display: inline;
}
.fan_showhide1 {
	width: 200px;
	margin: 3px 0 0 0;
	text-align: left;
	overflow: hidden;
	cursor: pointer;
}
.Fanpagediv {
	width: 500px;
	position: absolute;
	margin: 30px 0 0 -382px;
	left: 60%;
	display: inline;
	border: 1px solid #044d85;
}
.Fanpagediv1 {
	width: 500px;
	position: absolute;
	margin: 5px 0 0 -260px;
	left: 60%;
	display: inline;
	border: 1px solid #044d85;
}
.slidingDiv2 {
	width: 170px;
	position: absolute;
	margin: 5px 0 0 -33px;
	left: 23%;
	display: inline;
}
.pop_up_bx {
	width: 170px;
	overflow: hidden;
}
.pop_up_bx_top {
	width: 170px;
	height: 15px;
	overflow: hidden;
	background: url(../Content/images/pop_up_t_b.png) no-repeat;
}
.pop_up_bx_mid_inn {
	width: 154px;
	padding: 0 8px;
}
.pop_up_bx_mid_inn ul {
	width: 154px;
	padding: 0 0px;
	float: left;
}
.pop_up_bx_mid_inn ul li {
	width: 154px;
	padding: 0 0px;
	float: left;
}
.pop_up_bx_mid_inn ul li a {
	width: 118px;
	text-decoration: none;
	padding: 5px 18px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.pop_up_bx_mid_inn ul li a:hover, .pop_up_bx_mid_inn .act {
	width: 118px;
	padding: 5px 18px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #003399;
}
.pop_up_bx_bot {
	width: 170px;
	height: 15px;
	overflow: hidden;
	background: url(../Content/images/pop_up_t_b.png) no-repeat;
	background-position: 0 -15px;
}
.pop_up_bx_mid {
	width: 170px;
	height: 280px;
	background: url(../Content/images/pop_up_mid.png) repeat-y;
}
.pop_up_bx_top_fan_page {
	width: 500px;
	height: 40px;
	overflow: hidden;
	background-image: url(../Content/images/popup_top.png);
	background-repeat: no-repeat;
	background-position: top;
}
.pop_up_bx_mid_fan_page {
	width: 500px;
	background: url(../Content/images/pop_up_mid.png) repeat-y;
}
.pop_up_bx_mid_inn_fan_page {
	width: 474px;
	padding: 08px;
	background-color: #fff;
	border-left: 5px solid #536ba1;
	border-right: 5px solid #536ba1;
}
.pop_up_bx_bot_fan_page {
	width: 500px;
	height: 50px;
	overflow: hidden;
	background-image: url(../Content/images/popup_bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
}